body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: rgb(52, 206, 142);
    height: 100px;
  }

  h1 {
    text-align: center;
    color: black;
    line-height: 100px;
    margin: 0;
  }

.button-group {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}

.grid-item {
    background-color: #2196F3;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: start;
}
